// VARIABLES

@blueBackground: -webkit-linear-gradient(top, #355069 0, #5E7A9B 100%);
@whiteBackground: -webkit-linear-gradient(top, #eee 0, #ddd 100%);

// STYLES

.lightTheme {
    color: #666;
    background: #fff;
}

.blueTheme {
    color: #fff;
    background: #5E7A9B;
}

.darkTheme {
    color: #fff;
    background: radial-gradient(#36414E, #253241);
}

.padding {
    padding-top: 90px;
    padding-bottom: 100px;
}

// CONTAINERS

.public-header-container {
    z-index: 999;
}

.landing-container {
    width: 100%;
}

.hero-container {
    display: table;
    width: 100%;
    height: 550px;
    z-index: -999;
    // background: @whiteBackground;
    .blueTheme;
    padding-bottom: 100px;
    .hero{
        padding-top: 50px;
        padding-bottom: 50px;
        padding-left: 35px;
        .sub-text {
            width: 75%;
        }
    }
    .hero-img {
        padding-top: 25px;    
    }
}

.not-found-container {
    .not-found{
        min-height: 600px;
        padding-top: 250px;
        font-size: 28px;
        text-align: center;
    }
}

.features-container {
    margin-top: 100px;
    padding-bottom: 50px;
    // background-color: #fafafa;
    .feature {
        margin-top: 55px;
        .info {
            padding: 35px;
            h5 {

            }
            p {

            }
        }
        .image {
            img {
                width: 400px;
            }
        }
    }
}

.pricing-container {
    padding-top: 50px;
    padding-bottom: 50px;
    .blueTheme;
    .price-table {
        margin-top: 35px;
        padding-bottom: 50px;
        div {
            .price-table-container {
                color: #666;
                max-width: 330px;
                background-color: #fff;
                border: 1px solid #E6E6E6;
                border-radius: 5px;
                box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
                padding: 20px 40px;
                position: relative;
                text-align: center;
                width: 97%;
                min-height: 315px;
                position: relative;
                top: 37px;
                @media (max-width: 991px) {
                    float: none !important;
                    left: 0px !important;
                    top: 0px !important;
                    margin: 0 auto;
                    width: 90%;
                    margin-bottom: 25px !important;
                }
                @media (max-width: 600px) {
                    width: 90% !important;
                }
                .price {
                    .dollar-sign {
                        font-size: 18px;
                        position: relative;
                        top: -15px;
                    }
                    .price-value {
                        font-size: 48px;
                    }
                    .period {
                        font-size: 16px;
                        position: relative;
                        top: -7px;
                        margin-left: 3px;
                    }
                }
                .plan-name {
                    font-size: 20px;
                    border-bottom: 1px solid #d5d5d5;
                    padding-bottom: 15px;
                }
                .features {
                    margin-top: 20px;
                    div {
                        font-size: 16px;
                        margin-bottom: 12px;
                    }
                }
                button {
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.demonstration-container {
    padding-top: 50px;
    padding-bottom: 50px;
    .demonstration {
        padding-top: 30px;
        div {
            text-align: center;
            img {
                width: 90%;
                max-width: 1000px;
            }
        }
    }
}

.industry-container {
    .padding;
    .lightTheme;
    .industries {
        padding-top: 90px;
        div {
            margin-bottom: 10px;
            img {
                margin: auto;
            }
        }
    }
}

.cta-container {
    text-align: center;
    .padding;
    .lightTheme;
    button {
        margin-top: 30px;
        height: 65px;
        font-size: 18px;
        width: 225px;
    }
}

.public-footer-container {
    .darkTheme;
    padding-top: 70px;
    padding-bottom: 30px;
    .footer-container {
        div {
            ul {
                list-style-type: none;
                margin-top: 30px;
                padding: 0px;
                margin-bottom: 10px;
                li {
                    margin-bottom: 9px;
                    cursor: pointer;
                }
            }
        }
        div {
            .newsletter-form {
                margin-top: 20px;
                .form-group {
                    width: 80%;
                }
            }
        }
    }
    .credits {
        margin-top: 30px;
        text-align: center;
    }
}


// COMPONENTS

.navbar-default {
  background-color: transparent;
  border-color: transparent;
  margin-bottom: 50px;
  border-radius: 0px;
  z-index: 999;
  div {
      color: #fff;
      div {
          color: #fff;
          a {
              color: #fff !important;
          }
          
          cursor: pointer;
      }
      ul {
          color: #fff;
          li {
              color: #fff;
              a {
                  color: #fff !important;
              }
          }
      }
  }
}

.section-header {
    div {
        text-align: center;
    }
}

.divider {
    display: block;
    height: 1px;
    width: 100%;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
    position: relative;
    margin: 70px 0 60px;
}
