// VARIABLES

@blueBackground: -webkit-linear-gradient(top, #355069 0, #5E7A9B 100%);
@whiteBackground: -webkit-linear-gradient(top, #eee 0, #ddd 100%);

// STYLES

@lightThemeColor: #666;
@blueThemeColor: #fff;

.light-header-theme {
    color: @lightThemeColor !important;
    background: #fff;
    ul {
        color: @lightThemeColor;
        li {
            color: @lightThemeColor;
            a {
                color: @lightThemeColor;
            }
        }
    }
    div {
        color: @lightThemeColor;
        a {
            color: @lightThemeColor;
        }
    }
}

.blue-header-theme {
    color: @blueThemeColor !important;
    background: #5E7A9B;
    ul {
        color: @blueThemeColor;
        li {
            color: @blueThemeColor;
            a {
                color: @blueThemeColor !important;
            }
        }
    }
    div {
        color: @blueThemeColor;
        a {
            color: @blueThemeColor !important;
        }
    }
}

.lightTheme {
    color: @lightThemeColor;
    background: #fff;
}

.blueTheme {
    color: @blueThemeColor;
    background: #5E7A9B;
}

.darkTheme {
    color: #fff;
    background: radial-gradient(#36414E, #253241);
}

.padding {
    padding-top: 80px;
    padding-bottom: 80px;
}

.hidden {
    display: none;
}

// CONTAINERS

.public-header-container {
    z-index: 999;
}


.public-layout-container {
    .title {
        .lightTheme;
        padding: 10px;
        height: 80px;
        text-align: center;
        margin-bottom: 0px;
    }
    .content {
        min-height: 600px;
    }
}


.landing-screen-container {
    width: 100%;
}


.hero-container {
    .blueTheme;
    // display: table;
    width: 100%;
    min-height: 550px;
    z-index: -999;
    padding-bottom: 100px;
    .hero{
        padding-top: 100px;
        padding-bottom: 50px;
        padding-left: 35px;
        .sub-text {
            width: 75%;
        }
    }
    .hero-img {
        width: 100%;
        padding-top: 50px;    
    }
}


.not-found-screen-container {
    .not-found{
        min-height: 600px;
        padding-top: 250px;
        font-size: 28px;
        text-align: center;
    }
}

// TODO: Place this in landing page...
.features-container {
    margin-top: 100px;
    padding-bottom: 50px;
    padding-left: 15px;
    padding-right: 15px;
    // background-color: #fafafa;
    .feature {
        margin-top: 55px;
        .info {
            padding: 35px;
            @media (max-width: 600px) {
                text-align: center !important;
            }
            h5 {

            }
            p {

            }
        }
        .image {
            text-align: center;
            img {
                margin: auto;
                width: 400px;
            }
        }
    }
}

.pricing-container {
    padding-top: 50px;
    padding-bottom: 50px;
    .blueTheme;
    .price-table {
        margin-top: 35px;
        padding-bottom: 50px;
        div {
            .price-table-container {
                color: #666;
                max-width: 330px;
                background-color: #fff;
                border: 1px solid #E6E6E6;
                border-radius: 5px;
                box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
                padding: 20px 40px;
                position: relative;
                text-align: center;
                width: 97%;
                min-height: 315px;
                position: relative;
                top: 37px;
                @media (max-width: 991px) {
                    float: none !important;
                    left: 0px !important;
                    top: 0px !important;
                    margin: 0 auto;
                    width: 90%;
                    margin-bottom: 25px !important;
                }
                @media (max-width: 600px) {
                    width: 90% !important;
                }
                .price {
                    .dollar-sign {
                        font-size: 18px;
                        position: relative;
                        top: -15px;
                    }
                    .price-value {
                        font-size: 48px;
                    }
                    .period {
                        font-size: 16px;
                        position: relative;
                        top: -7px;
                        margin-left: 3px;
                    }
                }
                .plan-name {
                    font-size: 20px;
                    border-bottom: 1px solid #d5d5d5;
                    padding-bottom: 15px;
                }
                .features {
                    margin-top: 20px;
                    div {
                        font-size: 16px;
                        margin-bottom: 12px;
                    }
                }
                button {
                    margin-top: 10px;
                    margin-bottom: 20px;
                }
            }
        }
    }
}

.demonstration-container {
    padding-top: 50px;
    padding-bottom: 50px;
    .demonstration {
        padding-top: 30px;
        div {
            text-align: center;
            img {
                width: 90%;
                max-width: 1000px;
            }
        }
    }
}

.industry-container {
    .padding;
    padding-left: 20px;
    padding-right: 20px;
    .lightTheme;
    .industries {
        padding-top: 90px;
        div {
            text-align: center;
            margin-bottom: 30px;
            img {
                margin: auto;
            }
        }
    }
}

.cta-container {
    .section-header{
        .title{
            height: 19px;
            padding: 0px;
            text-align: center;
            .blueTheme;
        }
    }
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
    .blueTheme;
    button {
        margin-top: 30px;
        height: 65px;
        font-size: 18px;
        width: 225px;
    }
}

.public-footer-container {
    .darkTheme;
    padding-top: 70px;
    padding-bottom: 30px;
    .footer-container {
        padding-bottom: 30px;
        div {
            ul {
                list-style-type: none;
                margin-top: 30px;
                padding: 0px;
                margin-bottom: 10px;
                li {
                    margin-bottom: 9px;
                    cursor: pointer;
                }
            }
        }
        div {
            .newsletter-form {
                margin-top: 20px;
                .form-group {
                    width: 80%;
                }
            }
        }
    }
    .credits {
        margin-top: 30px;
        text-align: center;
    }
}


// PUBLIC PAGES

.features-screen-container {
    .features-screen-contents {
        padding: 20px 15px 50px;
        img {
            width: 100%;
            max-width: 1000px;
        }
        .intro {
            text-align: center;
            padding: 0px 0px 50px;
        }
        .mini-header {
            text-align: center;
            padding-bottom: 25px;
        }
        .finale {
            text-align: center;
        }
        .well {
            margin: 30px 0px 20px;
            display: flex;
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: space-around;
            span {
                font-size: 18px;
            }
        }
    }
}

.about-screen-container {
    .about-screen-contents{
        @media (max-width: 767px) {
            text-align: center;
        }
        margin: 0px 15px 30px;
        img {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

.team-screen-container {
    .members {
        padding: 15px;
        padding-bottom: 60px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        a:focus, a:hover {
            text-decoration: none;
        }
        .member {
            margin: 15px;
            text-align: center;
            img {
                max-height: 180px;
                border-radius: 10px;
            }
            h5 {
                color: @lightThemeColor;
            }
        }
    }
}

.contact-screen-container {
    .map-row {
        margin-bottom: 50px;
    }
    .contact-row{
        padding: 0px 15px 100px;
        .support {
            background: #f8fdfe;
            border: 1px solid #bee1f3;
            margin-top: 5px;
            border-radius: 6px;
            padding: 30px 22px 18px 22px;
            width: 70%;
            max-width: 210px;
            min-height: 100px;
            
        }
        .contact-col {
            padding-top: 15px;
        }
        .contact-icons {
            padding: 15px 20px 50px;
        }
        div {
            p {
                padding-bottom: 30px;
            }
            .contact-form {
                .form-group {
                    input{
                        max-width: 350px;
                    }
                    textarea {
                        max-width: 500px;
                    }
                    margin-bottom: 30px;
                }
            }
        }
    }
    .leaflet-container {
        height: 400px;
        width: 100%;
        text-align: center;
        margin: auto;
    }
}


// NAVBAR

.navbar-default {
    border-color: transparent;
    border-radius: 0px;
    z-index: 999;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-collapse {
    border-color: transparent;
    border-top: none;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.navbar-toggle {
    border-color: transparent;
    border: none;
    .icon-bar {
        background-color: white !important;
    }
}

.navbar-toggle:hover {
    background-color: transparent!important;
}

.navbar-toggle:focus {
    background-color: transparent!important;
}


// COMPONENTS

.section-header {
    div {
        text-align: center;
    }
}

.divider {
    display: block;
    height: 1px;
    width: 80%;
    background-color: #ddd;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, rgba(255, 255, 255, 0.75)), color-stop(0.5, rgba(250, 250, 250, 0)), color-stop(1, rgba(255, 255, 255, 0.75)));
    position: relative;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 60px;
    // margin: 70px 0 60px;
}
